# Dependencies
node_modules/

# Environment files
.env
.env.local

# Coverage reports
coverage/

# Build artifacts
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
trivy-report.json
sbom.json
trivy.yaml
.scannerwork/
trivy-report.json
sbom.json
